/* Sticky footer styles
-------------------------------------------------- */
html {
  position: static;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: "GoldenRod";
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: "GoldenRod";
}